<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="position: relative" (scroll)="onScroll($event)">
  <google-maps #map id="mapFromGoogle"></google-maps>
  <ion-list class="overflow-list">
    <ion-item *ngFor="let barbearia of barbearias | async" (click)="markBarberShop(barbearia)">
      <h2>{{ barbearia.nome }}</h2>
      <span *ngFor="let s of ' '.repeat(barbearia.estrelas).split('')">
        <ion-icon name="star"></ion-icon>
      </span>
    </ion-item> 
  </ion-list>
</ion-content>