<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="position: relative" (ionScroll)="onScroll($event)">
  <google-maps #map id="mapFromGoogle"></google-maps>

  <ion-fab right bottom class="ionfab" [style.right.px]="fabR">
      <button ion-fab><ion-icon name="search"></ion-icon></button>
  </ion-fab>

  <ion-list class="overflow-list">
    <ion-item *ngFor="let barbearia of barbearias | async; index as i" (click)="markBarberShop(barbearia, i)">
      <h2>{{ barbearia.nome }}</h2>
      <span *ngFor="let s of ' '.repeat(barbearia.estrelas).split('')">
        <ion-icon name="star"></ion-icon>
      </span>
    </ion-item> 
  </ion-list>
</ion-content>