page-header {
    @font-face {

        @import url('https://fonts.googleapis.com/css?family=Pattaya');
    }
.header-logo{
font-family: 'Pattaya';
span{
    position: relative;
    top: -15px;
    padding-left: 10px;
}
}
}
