page-header {
    @font-face {

        @import url('https://fonts.googleapis.com/css?family=Pattaya');
    }
    .header-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Pattaya';
        span{
            position: relative;
            // top: -15px;
            padding-left: 10px;
        }
    }
}
