page-post-view { 
    
   
    ion-card-header{
        position: relative;
        .selectOption{
            position: absolute;
            top: 25px;
            right: 25px;
            width: fit-content;
        }

    }
    
    
}
