page-barbearia {
    .barber-avatar {
        border-radius: 10%;
    }

    #back-icon {
        position: absolute;
        font-size: 2.2em !important;
        top: 10px !important;
    }

    .back-button {
        z-index: 9999;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .slide {
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-slides{
        display: flex;
        flex-direction: row;
    }
}
