google-maps {
    #google-maps {
        width: 100%;
        height: 40vh;
    }

    .barber-name {
        color: #084d6e;
    }

    .info-window-barbershop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
